{% extends 'base.html.twig' %}

{% block body %}
    <div id="header" data-0="background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)) repeat scroll 0% 0% transparent;" data-350="background: linear-gradient(to top, rgba(50, 50, 50, 0), rgba(50, 50, 50, 1)) repeat scroll 0% 0% transparent;" data-400="background: linear-gradient(to top, rgba(50, 50, 50, 1), rgba(40, 40, 40, 1)) repeat scroll 0% 0% transparent;">
        <div class="container">
            <div class="logo col-md-7 col-sm-5 col-xs-4">
            <a href="/">{% image 'bundles/app/images/logolarge.png' %}
            <img src="{{ asset_url }}" alt="WheelToolkit" />
            {% endimage %}</a>
            </div>
            <div class="col-md-5 col-sm-7 col-xs-8">
                <ul class="mainmenu">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a class="link" href="{{ path('logout') }}">Logout</a></li>
                    {% endif %}
                    <li><a href="http://www.wheeltoolkit.com"><span class="long-name">Client</span> Login</a></li>
                    <li><a href="/module">Demo<span class="long-name"> Videos</span></a></li>
                    <li><a href="/">About</a></li>

                </ul>
            </div>
        </div>

    </div>
    {% block homepage %}
    <div class="bgblack">
        <div class="bg">
            <div class="fullpage">
                <div class="container modules">
                    {% block modules %}
                    {% endblock %}
                 </div>
                <div class="container infopage">
                    {% block infopage %}
                    {% endblock %}
                </div>

                <div class="container login">
                    {% block login %}
                    {% endblock %}
                </div>
            </div>
        </div>
       {% endblock %}
        </div>
    </div>
{% endblock %}
