{% extends 'base.html.twig' %}

{% block body %}
    <div id="header">
        <div class="container">
            <div class="logo col-md-7 col-sm-5 col-xs-4">
            <a href="/">{% image 'bundles/app/images/logolarge.png' %}
            <img src="{{ asset_url }}" alt="WheelToolkit" />
            {% endimage %}</a>
            </div>
            <div class="col-md-5 col-sm-7 col-xs-8">
                <ul class="mainmenu">
                    <li><a href="#"><span class="long-name">Client</span> Login</a></li>
                    <li><a href="#"><span class="long-name">Get a</span> Demo</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="bgblack">
        <div class="bg">
            <div class="fullpage">
                <div class="container modules">
                    {% block modules %}
                    {% endblock %}
                 </div>
                <div class="container homepage">
                    {% block homepage %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
