#header{
    font-size:14px;
    position: absolute;
    top:0;
    padding-top:5px;
    height:80px;
    width:100%;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(00,0,0,.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(0,0,0,.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,.7)); /*Fx 3.6-15*/
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0,.7)); /*Standard*/

}
.fullpage{
    padding-top: 110px;
}
.mainmenu > li {
    color: white;
    float: right;
    margin: 20px 10px;
    list-style: none;
}

.mainmenu > li > a{
    color:white;
    text-transform: uppercase;
}

.logo {
    position: relative;
}
.logo > a > img {
    width: 50%
}
@media (max-width : 1200px) {
    #header{
        height:100px;
    }
    .fullpage{
        padding-top: 100px;
    }
    .logo > img {
        width: 60%
    }
}
@media (max-width : 991px) {
    #header{
        height:80px;
    }
    .fullpage{
        padding-top: 80px;
    }
    .logo > img {
        width: 90%
    }
}
@media (max-width : 768px) {
    #header {
        font-size: 12px;
        height:60px;
    }
    .long-name{
        display:none;
    }
    .fullpage{
        padding-top: 60px;
    }
    .logo > img {
        width: 100%
    }
    .mainmenu > li {
        margin: 10px 5px;
    }
}
@media (max-width : 480px) {
    #header {
        font-size: 10px;
        height:50px;
    }
    .fullpage{
        padding-top: 50px;
    }
    .logo > img {
        padding-top:5px;
        width: 120%
    }
}

