#header{
    position: absolute;
    top:0;
    padding-top:5px;
    height:120px;
    width:100%;
}
.fullpage{
    padding-top: 120px;
}
.mainmenu > li {
    color: white;
    float: right;
    margin: 20px 10px;
    list-style: none;
}

.mainmenu > li > a{
    color:white;
    text-transform: uppercase;
}

