.video-content{
    width:1000px;
    margin:40px auto;
}
.video-content > iframe{
    width:1000px;
    height:600px;
    margin:0 auto;
}
@media (max-width : 1200px) {
    .video-content{
        width:800px;
        margin:30px auto;
    }
    .video-content > iframe{
        width:800px;
        height:500px;
        margin:0 auto;
    }
}
@media (max-width : 991px) {
    .video-content{
        width:700px;
        margin:30px auto;
    }
    .video-content > iframe{
        width:700px;
        height:430px;
    }
}
@media (max-width: 768px) {
    .homepage{
        border-radius:0;
    }
    .video-content{
        width:100%;
    }
    .video-content > iframe{
        width:100%;
        height:300px;
    }
}
@media (max-width: 480px) {
    .homepage{
        border-radius:0;
    }
    .video-content > iframe{
        height:250px;
    }
}