{% extends "::default/index.html.twig" %}
 {% block modules %}
     <h3>Welcome to the <span class="text-capitalize"> {{ name|replace('-',' ')}}</span> module!</h3>
     <div class="video-content">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/xQ_IQS3VKjA" frameborder="0" allowfullscreen></iframe>
     </div>
 {% endblock %}