.bg{
    background: url("../bundles/app/images/bg.jpg") no-repeat;
    background-size: 100%;
    opacity: .8;
}
.height1000{
    min-height:1000px;
}
#header{
    position: absolute;
    top:0;
    height:120px;
    width:100%;
    background-color: #f7f7f7;
}
.fullpage{
    margin-top:120px;
    padding-top: 20px;
}